/*=============== BASE ===============*/
/* Font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 992px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.btn {
  background: #f4c038;
  color: #20222a;
  font-weight: 500;
  font-size: 16px;
  border-radius: 48px;
  text-decoration: none;
  user-select: none;
}
.btn:hover {
  opacity: 0.7;
}

@keyframes link {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
header {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100vw;
  background-color: #20222a;
  user-select: none;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
header nav .nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin-left: 50px;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  header nav .nav__list {
    display: none;
  }
}
header nav .nav__list .nav__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding-bottom: 16px;
}
header nav .nav__list .nav__link:hover::before, header nav .nav__list .nav__link.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background-color: #f4c038;
}
header nav .nav__list .nav__link:hover::before {
  animation: link 0.3s ease;
}
header nav .nav__list .nav__link:hover, header nav .nav__list .nav__link.active {
  color: #f4c038;
}
header nav .nav__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header nav .nav__btns .custom-select {
  width: 80px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
header nav .nav__btns .custom-select select {
  display: none;
}
header nav .nav__btns .select-selected {
  background-color: #20222a;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5019607843) !important;
}
header nav .nav__btns .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
header nav .nav__btns .select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
header nav .nav__btns .select-items div,
header nav .nav__btns .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}
header nav .nav__btns .select-items {
  position: absolute;
  background-color: #20222a;
  top: 100%;
  left: 0;
  border-radius: 12px;
  right: 0;
  z-index: 99;
}
header nav .nav__btns .select-hide {
  display: none;
}
header nav .nav__btns .select-items div:hover,
header nav .nav__btns .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
header nav .nav__btns .btn {
  padding: 10px 24px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 14px 0px;
  background-color: #20222a;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  line-height: 20px;
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 10px;
    line-height: 10px;
    padding: 10px 5px;
  }
}
@media screen and (max-width: 420px) {
  footer {
    font-size: 7px;
  }
}
footer .footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer__main .copyright {
  text-decoration: none;
  opacity: 0.5;
}
footer .footer__main .copyright:hover {
  opacity: 1;
}
footer .navigation {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 16px;
}
footer .navigation .footer_link {
  text-decoration: none;
  opacity: 0.5;
}
footer .navigation .footer_link:hover {
  opacity: 1;
}

.full-screen {
  height: 100vh;
  width: 100vw;
  background-color: #20222a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-left: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(../assets/images/banner.png) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
main h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}
@media screen and (min-width: 1444px) {
  main h1 {
    font-size: 78px;
    line-height: 80px;
  }
}
@media screen and (max-width: 768px) {
  main h1 {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  main h1 {
    font-size: 28px;
    line-height: 35px;
  }
}
main .btn {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 14px 40px;
}
@media screen and (max-width: 768px) {
  main .btn {
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  main .btn {
    padding: 10px 20px;
    text-align: center;
  }
}

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.person .person__title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5019607843);
}
.person .person__title .title__primary {
  color: #F4C038;
}

.full-screen.login {
  flex-direction: column;
}
.full-screen.login .myForm {
  position: relative;
  padding: 50px;
}
@media screen and (max-width: 480px) {
  .full-screen.login .myForm {
    padding: 20px 0px;
  }
}
.full-screen.login .myForm input {
  width: 350px;
  display: block;
  margin: 20px 0;
  padding: 10px 17px;
  outline: none;
  background-color: transparent;
  border: 1px solid hsl(228deg, 14%, 25%);
  border-radius: 12px;
}
@media screen and (min-width: 1280px) {
  .full-screen.login .myForm input {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .full-screen.login .myForm input {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .full-screen.login .myForm input {
    width: 250px;
  }
}
.full-screen.login .myForm .pasItem {
  position: absolute;
  top: 135px;
  right: 65px;
  cursor: pointer;
  opacity: 0.5;
}
.full-screen.login .myForm .pasItem:hover {
  opacity: 1;
}
@media screen and (max-width: 420px) {
  .full-screen.login .myForm .pasItem {
    top: 105px;
    right: 10px;
  }
}
.full-screen.login .myForm .loginBtn {
  width: 350px;
  display: block;
  margin: 20px 0;
  padding: 10px 17px;
  outline: none;
  border: none;
}
@media screen and (min-width: 1280px) {
  .full-screen.login .myForm .loginBtn {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .full-screen.login .myForm .loginBtn {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .full-screen.login .myForm .loginBtn {
    width: 250px;
  }
}

.signForm {
  position: relative;
  padding-left: 60px;
}
.signForm input,
.signForm textarea {
  width: 450px;
  display: block;
  margin: 20px 0;
  padding: 10px 17px;
  outline: none;
  resize: none;
  background-color: transparent;
  border: 1px solid hsl(228deg, 14%, 25%);
  border-radius: 12px;
}
@media screen and (min-width: 1280px) {
  .signForm input,
.signForm textarea {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .signForm input,
.signForm textarea {
    width: 300px;
  }
}
@media screen and (max-width: 480px) {
  .signForm input,
.signForm textarea {
    width: 250px;
  }
}
.signForm .pasItem {
  position: absolute;
  top: 135px;
  right: 65px;
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  .signForm .pasItem {
    top: 105px;
    right: 10px;
  }
}
.signForm .signBtn {
  width: 200px;
  display: block;
  margin: 20px 0;
  padding: 14px 24px;
  outline: none;
  border: none;
  cursor: pointer;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: #272E3B;
  padding-top: 100px;
  padding-bottom: 60px;
}
.main h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
}
.main .help__cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 14px;
  flex: 1 1;
  padding-top: 48px;
}
.main .help__cards .card {
  position: relative;
  width: 296px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-color: #20222A;
  border-radius: 16px;
  box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
  text-decoration: none;
}
.main .help__cards .card .card__body {
  padding-top: 20px;
}
.main .help__cards .card .card__body a {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.main .help__cards .card .card__footer {
  position: absolute;
  left: 16px;
  bottom: 16px;
  width: 100%;
}
.main .help__cards .card .card__footer span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5019607843);
}

.contact__cards {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 44px;
  padding-bottom: 44px;
}
.contact__cards .contact_card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contact__cards .contact_card p {
  margin-top: 8px;
}

.line {
  width: 100%;
  height: 1px;
  background: #3D4554;
}

.beneficiarys {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 41px;
  padding-top: 40px;
}
.beneficiarys p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.beneficiarys .beneficiary p {
  color: rgba(255, 255, 255, 0.5);
}
.beneficiarys .beneficiary_info p {
  color: #fff;
}