.main {
    width: 100%;
    min-height: 100vh;
    background-color: #272E3B;
    padding-top: 100px;
    padding-bottom: 60px;
    h3 {
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #fff;
    }
    .help__cards {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 14px;
        flex: 1 1;
        padding-top: 48px;
        .card {
            position: relative;
            width: 296px;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            background-color: #20222A;
            border-radius: 16px;
            box-shadow: 0px 6px 12px -6px rgba(24, 39, 75, 0.12), 0px 8px 24px -4px rgba(24, 39, 75, 0.08);
            text-decoration: none;
            .card__body {
                padding-top: 20px;
                a {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
            .card__footer {
                position: absolute;
                left: 16px;
                bottom: 16px;
                width: 100%;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff80;
                }
            }
        }
    }
}