// Login
.full-screen.login {
    flex-direction: column;
    .myForm {
        position: relative;
        padding: 50px;
        @media screen and (max-width: 480px) {
            padding: 20px 0px;
        }
        

        & input {
            width: 350px;
            display: block;
            margin: 20px 0;
            padding: 10px 17px;
            outline: none;
            background-color: transparent;
            border: 1px solid hsl(228, 14%, 25%);
            border-radius: 12px;
            @media screen and (min-width: 1280px) {
                width: 400px;
            }
        @media screen and (max-width: 768px) {
            width: 300px;
        }
        @media screen and (max-width: 480px) {
            width: 250px;
        }
        }
        .pasItem {
            position: absolute;
            top: 135px;
            right: 65px;
            cursor: pointer;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        @media screen and (max-width: 420px) {
            top: 105px;
            right: 10px;
        }

        }
        & .loginBtn {
            width: 350px;
            display: block;
            margin: 20px 0;
            padding: 10px 17px;
            outline: none;
            border: none;
            @media screen and (min-width: 1280px) {
                width: 400px;
            }
            @media screen and (max-width: 768px) {
                width: 300px;
            }
            @media screen and (max-width: 480px) {
                width: 250px;
            }
            }
    }

}

// @media screen and (max-width: 768px) {}
// @media screen and (max-width: 420px) {}
// @media screen and (max-width: 768px) {}
// @media screen and (max-width: 420px) {}
// @media screen and (max-width: 768px) {}
// @media screen and (max-width: 420px) {}